brotlipy  
certifi  
cffi  
charset-normalizer  
cryptography  
cycler  
fonttools  
idna  
kiwisolver  
matplotlib  
munkres  
numpy  
packaging  
Pillow  
pip  
pycparser  
pyOpenSSL  
pyparsing  
PySocks  
python-dateutil  
requests  
setuptools  
six  
torch  
torchvision  
tornado  
typing_extensions  
unicodedata2  
urllib3  
wheel  